html, body{
    margin:0;
    height:100dvh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

#container{
    display:grid;
    grid-template-columns: 200px 1fr;
    padding-top:150px;
    height:calc(100% - 150px);
}



/*
**
    Styling for the sidebar elements
**
*/

#sidebar{
    grid-column: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
}

#list-modal-container{
    width:100%;
    box-sizing: border-box;
    height:30px;
    align-items: center;
    display:none
}

#create-list-button{
    height:30px;
}

#modal-button-container{
    display:flex;
    flex-direction: column;
    margin:5px;
}

.modal-button{
    height:50%;
    font-size: 10px;
}

#list-name{
    height:30px;
    width:100%;
    box-sizing: border-box;
}

#todo-lists{
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin-top:20px;
}

#main-display{
    grid-column: 2;
    display:flex;
    justify-content: center;
    height:100%;
}

#main-display-default-text{
    display:none;
}

#list-contents-container{
    margin:50px;
    height:calc(100% - 100px);
    width:calc(800px + 15rem);
    background-color: rgb(185, 185, 185);
    box-sizing: border-box;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
    padding:0;
}

.list-button{
    border:none;
    background:none;
    cursor: pointer;
    font-weight: bold;
}

.list-button:active{
    color:rgb(0, 0, 255);
}



/*
**
    Styling for the add task button.
    total height of the button+margin is equal to the height of the add task form.
**
*/

#add-task-button{
    height:30px;
}



/*
**
    Styling for the add task form
**
*/

#add-task-form, #form-grid{
    gap:10px;
}
#add-task-form{
    display:none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px;
}
#form-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#task-description-container{
    grid-column: span 2;
}
.input-container{
    display: flex;
    flex-direction: column;
}
input{
    width:100%;
}



.task-container{
    width:500px;
    height:auto;
    background:white;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap:50px
}

.priority-button{
    height:25px;
    width:25px;
    background-color: rgb(0, 112, 15);
    border-radius: 50%;
    border:none;
    margin-left:20px;
    cursor:pointer;
}

.task-text{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.task-text > p{
    margin:0;
}